.header{
    height: 85vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(12, 72, 95, 0.9), rgba(0,0,0,.5)), url("https://images.pexels.com/photos/3861958/pexels-photo-3861958.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");    background-size: cover;
    color: white;
}
.site-navbar{
    padding-top: 4px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.site-title{
    color: #922b21;
    padding: 5px 5px;
    border: 4px solid #5d6d7e;
    border-radius: 20px;
}
.site-title:hover{
    position: relative;
    font-weight: 100;
    text-transform: uppercase;
    top: -4px;
    
}

.h-100{
    height: 100%;
    width: 100%;
}

.button1{
    padding: 1.1em 2em;
    border-radius: 15px !important;
    text-transform: uppercase;
}
.message{
    padding-top: 4px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.myicon{
    font-size: 55px;
    padding: 10px 10px;
}
.button3{
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 20px;
}

.about .card{
    border: 1px solid #673ab7;
}
.about .card:hover{
    background: #e2e2e2;
    position: relative;
    top: -4px   ;
}
.text-box{
    font-size: 14px;
}

.links:hover{
    text-decoration: underline;
    text-transform: uppercase;
}
form input{
    margin:20px 0px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
}
form input:focus{
    border: 4px double red;
    outline:none;
}
form input:valid{
    border: 4px double green;
}